.container {
    width: 100vw;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.content {
    width: 265vw;
}

