.container {
    height: 52vh;
}
.header {
    height: 15%;
}
.content {
    height: 85%;
}
.thisButton {
    width: 20%;
    background-color: var(--darkGreen);
}
.passwordInput :global(.lead) {
    width: 50%;
    cursor: pointer;
}
.passwordInput :global(.after) {
    width: 10%;
    cursor: pointer;
}
.passwordInput :global(input) {
    width: 40% !important;
}



