.container1 {
    border-top: 0.0005vh solid rgba(68, 68, 68, 0.8);
    background-color: var(--subMenu);
    /*position: fixed;*/
    /*top: 7%;*/
    position: relative;
    z-index: 2;
    box-shadow: -1px 5px 8px -2px #101010ad;

}

.expand {
    background-color: var(--menu);
    z-index: 2;
    height: 3%;
    /*position: fixed;*/
    top: 7%;
    border-top: 0.0005vh solid rgba(68, 68, 68, 0.8);
}

.thisIcon {

}

.container {
    background-color: var(--menu);
    z-index: 2;
    height: 3%;
    border-top: 0.0005vh solid rgba(68, 68, 68, 0.8);
}
.content {
    top: 0;
    background-color: var(--menu);
}