.striped .row:nth-child(even) {
    background-color: var(--tableRow);
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.circle {
    border-left: 1px dotted var(--gray);
}

:global(.ltr) .circle {
    border-right: 1px dotted var(--gray);
    border-left: initial;
}

.bottomNav {
    border-top: 1px dotted var(--gray);
}