.container {
    height: 20vh;
    width: 60vw;
}
.container:last-child{
    margin-left: initial;
}
:global(.ltr) .container:last-child{
    margin-left: 5vw;
    margin-right: initial;
}

.header {
    height: 33%;
}

.content {
    height: 67%;
}