/*.withdrawalInput :global(.lead) {
    width: 24%;
}*/
.withdrawalInput :global(input) {
    width: 100% !important;
}
.withdrawNumberInput :global(.lead) {
    width: 40%;
}
.withdrawNumberInput :global(input) {
    width: 60% !important;
}

.withdrawalSmallInput :global(.lead) {
    width: 40%;
}
.withdrawalSmallInput :global(.select) {
    width: 60% !important;
}

.thisButton {
    width: 100%;
}
.IRTButton{
    width: 20%;
}
.IRTButton.withdrawal{
    background-color: var(--orange);
    color: #000;
}
.thisButton.withdrawal{
    background-color: var(--orange);
    color: #000;
}
.thisButton.transfer{
    background-color: var(--darkRed);
}

.pay{
    background-color: var(--darkGreen);

}
.cancel{
    background-color: var(--darkRed);
}
.disable:disabled,.button[disabled] {
    border: 0.3vh solid var(--cardHeader);
    background: var(--cardHeader);
    color: var(--textColor);
    cursor: not-allowed;
}

.thisButton:disabled,.button[disabled] {
    border: 0.3vh solid var(--cardHeader);
    background: var(--cardHeader);
    color: var(--textColor);
    cursor: not-allowed;
}


.thisLoading{
    width: 10%;
}